{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load ratings %}
{% load auth_extras %}
{% load avatar_tags %}
{% block title %}
   My Orders
{% endblock %}

{% block content %}
    <div id="sidebar" class="span3">
		{% comment %}<div class="container ">{% endcomment %}
        {% comment %}<div class="row profile" style="margin-top:12%">{% endcomment %}

            <!-- SIDEBAR  -->
            {% comment %}<div class="card col-md-3 bg-light" style="max-height: 420px;">
                <div class="profile-sidebar">{% endcomment %}
                    <!-- SIDEBAR USERPIC -->
        <div class="box text-center " style="background: #141414">
            <div class="p-a-md">
                {% avatar user 240 class="img-circle img-responsive" id="user_avatar" %}
                <p class="text-lg text-white block">{{ user.username }}</p>
                <p class="text-md text-accent">{{ user.level }}</p>
                {% comment %}<div class="profile-userbuttons">
                            <button type="button" class="btn btn-success btn-sm">Follow</button>
                            <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div>{% endcomment %}
            </div>
            <div class="row b-t ">
                <div class="col-xs-4 m-a-sm {% if '/account/profile/' in request.path %} text-warn {% else %} text-side {% endif %}">
                    <a href="{% url 'user_profile' %}">
                                    <i class="fa fa-home"></i>
                                    Overview </a>
                </div>
                {% if request.user|is_vendor %}
                <div class="col-xs-4 m-a-sm {% if request.path == '/account/settings/' %} text-warn {% else %} text-side {% endif %}">
                                <a href="{% url 'user_vendor_listProducts' %}">
                                    <i class="fa fa-user"></i>
                                    Vendor Panel </a>
                </div>
                {% else %}
                <div class="col-xs-4 m-a-sm {% if request.path == '/account/settings/' %} text-warn {% else %} text-side {% endif %}">
                                <a href="{% url 'user_favorites' %}">
                                    <i class="fa fa-thumbs-up"></i>
                                    My Favorites</a>
                </div>
                {% endif %}
                <div class="col-xs-4 m-a-sm {% if '/account/orders/' in request.path %} text-warn {% else %} text-side {% endif %}">
                                <a href="{% url 'user_order_list' %}">
                                    <i class="fa fa-shopping-cart"></i>
                                    My Orders </a>
                </div>
                <div class="col-xs-4 m-a-sm {% if request.path == '/account/ratings/' %} text-warn {% else %} text-side {% endif %}">
                                <a href="{% url 'user_ratings' %}">
                                    <i class="fa fa-tasks"></i>
                                    My Ratings </a>
                </div>
                <div class="col-xs-4 m-a-sm {% if request.path == '/account/help/' %} text-warn {% else %} text-side {% endif %}">
                                <a href="#">
                                    <i class="fa fa-question"></i>
                                    Help </a>
                </div>
            </div>
        </div>

    </div>


	<div class="span9">
        <div class="well well-small" style="background-color: #0d0d0d; border: none">
		    <div class="box" style="background: #141414; color: #666">
                <div class="box-header">
          <h2 style="color: #6ec2d1">All My Favorite Vendors</h2>
          {% comment %}<small>Add the base class .table to any &lt;table>.</small>{% endcomment %}
        </div>
                <div class="box-divider m-0"></div>
                <table class="table">
                    <thead>
            <tr>
              <th>Vendor ID</th>
              <th>Vendor Name</th>
            </tr>
          </thead>
                    <tbody>
                    {% for favorite in favorites %}
                        {% comment %}<a href="{% url 'user_order_detail' order_id=order.id %}">{% endcomment %}
                            <tr>
                                <td>
                                    {{ favorite.id }}
                                </td>
                                <td>
                                    {{ favorite.vendor }}
                                </td>
                            </tr>
                        </a>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </div>

{% endblock %}
