{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top:12%">
            <h6 > Your Orders:</h6>
            <table class="table table-striped table-hover">
                <thead style="">
                    <tr>
                        <th>Order id</th>
			<th>Payment</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <a href="{% url 'profile-order' order_id=order.id %}">
                        <tr>
                            <td>
                                {{ order.id }}
                            </td>
			    <td>
				{% if order.paid %}
				 Confirmed Payment
				{% else %}
				 Unconfirmed Payment
				{% endif %}
			    </td>
                            <td>
                                <a href="{% url 'profile-order' order_id=order.id %}" style="text-decoration:underline">more info</a>
                            </td>
                        </tr>
                    </a>
                {% endfor %}
                </tbody>
        </table>
    </div>
</div>


{% endblock %}
