{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
{% comment %}<div class='row'>
    <div class='col-md-4 col-10  mx-auto'>
    <h1>Change your Password</h1>
        <form method='post' action='password_change'>
            {% csrf_token %}
            <p>
                <label for="id_old_password">Old password:</label>
                <input type="password" name="old_password" autofocus="" required="" id="id_old_password">
            </p>
            <p>
                <label for="id_new_password1">New password:</label>
                <input type="password" name="new_password1" required="" id="id_new_password1">
                <span class="helptext"></span>
            </p>
            <ul>
                <li>xpxpxp</li>

{#                <li>Your password can't be too similar to your other personal information.</li>#}
{#                <li>Your password must contain at least 8 characters.</li>#}
{#                <li>Your password can't be a commonly used password.</li>#}
{#                <li>Your password can't be entirely numeric.</li>#}
            </ul><p></p>
            <p>
                <label for="id_new_password2">New password confirmation:</label>
                <input type="password" name="new_password2" required="" id="id_new_password2">
            </p>
            <span style="margin-bottom: 12px;"></span>
            <button type="submit" class="btn btn-block btn-info">Save</button>

        </form>
      </div>
</div>{% endcomment %}
{% endblock %}

