{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form action="." method="post" style="margin:auto;margin-top:6%;width:40%;">
        {% csrf_token %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                  {{ field.label_tag }}

                  {% if form.is_bound %}
                    {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                        <div class="invalid-feedback">
                          {{ error }}
                        </div>
                      {% endfor %}
                    {% else %}
                      {% render_field field class="form-control is-valid" %}
                    {% endif %}
                  {% else %}
                    {% render_field field class="form-control" %}
                  {% endif %}

                </div>
              {% endfor %}

              <br>
              <input type="submit" class="btn btn-primary" value="Login" style="margin:auto">
    </form>
{% endblock %}
