{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
<form action="{% url 'password_change' %}" method="post" style="margin:auto;margin-top:6%;width:27.7%; background: url({% static 'assets/img/side-back.jpg' %}) bottom left no-repeat #141414">
        {% csrf_token %}
    <div class="box">
        <div class="box-header" style="background: url({% static 'assets/img/navigation.jpg' %})">
            <h2 style="color: #6ec2d1;">Change Your Password</h2>
        </div>
        <div class="box-body" style="background: #141414">
            {% for field in form.visible_fields %}
                            <div class="form-group">
                              <label for="id_{{field.label}}" style="color: #a79d9d">
                                {{ field.label }}
                              </label>

                              {% if form.is_bound %}
                                {% if field.errors %}
                                  {% render_field field class="form-control is-invalid" %}
                                  {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                      {{ error }}
                                    </div>
                                  {% endfor %}
                                {% else %}
                                  {% render_field field class="form-control is-valid" %}
                                {% endif %}
                              {% else %}
                                {% render_field field class="form-control" style="width: 295px"%}
                              {% endif %}
                            </div>
                        {% endfor %}
                        <br>
                        {% comment %}<span style="margin-bottom: 12px;"></span>
                        <button type="submit" class="btn btn-success">Save</button>{% endcomment %}
                        <input type="submit" class="btn btn-info" align="center" value="Save" style="margin: 0 0 0 115px">
        </div>
    </div>
</form>

    {% comment %}<div class="container">
        <div class='row' style="margin-top: 85px;">
            <div class='col-12 col-md-6 mx-auto'>
                <div class="card py-4 px-4">
                    <h1>Change your Password</h1>
                    <form method='post' action="{% url 'password_change' %}">
                        {% csrf_token %}


                        {% for field in form.visible_fields %}
                            <div class="form-group">
                              {{ field.label_tag }}

                              {% if form.is_bound %}
                                {% if field.errors %}
                                  {% render_field field class="form-control is-invalid" %}
                                  {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                      {{ error }}
                                    </div>
                                  {% endfor %}
                                {% else %}
                                  {% render_field field class="form-control is-valid" %}
                                {% endif %}
                              {% else %}
                                {% render_field field class="form-control" %}
                              {% endif %}
                            </div>
                        {% endfor %}

                        <span style="margin-bottom: 12px;"></span>
                        <button type="submit" class="btn btn-success">Save</button>

                    </form>

                </div>
            </div>
        </div>
    </div>{% endcomment %}
{% endblock %}

